*{
    margin: 0%;
    padding: 0%;
    font-family: sans-serif;
}

nav{
    background-color: black;
    color: azure;
    padding: 20px 10px;
}
h1,ol,li{
    display: inline-block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h1{
    padding-left: 10px;
}
ol{
    margin-left: 60%;
}
a{
    color: azure;
}

.searchbox{
    text-align: center;
}
input{
    font-weight: bold;
    font-size: 40px;
    margin: 60px;
    padding: 5px;
}

.products{
    text-align: center;
}
.box{
    display: inline-block;
    text-align: center;
}
img{
    border: 5px solid black;
    height: 200px;
    width: 200px;
}
.box > p,.a{
    color: black;
}
.aboutus{
    background-color: black;
    color: blanchedalmond;
    text-align: center;
    padding: 20px;
}
